//Creating Variables for Screen Size to use when implementing responsive design
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// Will set variables for Colors that will be used throughout the entire application

/*
textColorL: (Light)
textColorD: (Dark)

primary1L
primary2L

primary

primary1D
primary2D


secondary*/
