.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
}

.one {
  background-color: rgba(0,0,0,0.7);
}

.two {
  background-color: rgba(0,0,0,0.5);
}

.three {
  background-color: rgba(0,0,0,0.9);
}