@import '../../sassStyles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-y: scroll;
  height: 100vh;

  section {
    scroll-snap-align: start;
    color: $mid2;
  
  }
  
  .one {
    height: 37vh;
    background-image: url('../../images/Project-photo1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed;

    .title-info {
      margin-left: 20vw;
      position: absolute;
    }
  }
  
  .two {
    height: 74vh;
    background-color: $light1;
  }
  
  .three {
    height: 60vh;
    background-image: url('../../images/Project-photo2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .spacer1 {
    height: 45px;
    background-color: $mid1;
  }

  .spacer2 {
    height: 45px;
    background-color: $mid1;
  }
}

