@import '../../sassStyles/variables';
@import '../../components/Forms/signInForm.scss';
@import '../../sassStyles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-y: scroll;
  height: 100vh;

  section {
    scroll-snap-align: start;
    color: $mid1;
  }
  
  .one {
    background-image: url('../../images/Landing-Page-Masked.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    .title-info {
      position: inherit;
    }
    h1 {
      margin-left: 19%;
      padding-top: 7vh;
    }
    h2 {
      margin-left: 23%;
    }
    .short-desc {
      position: relative;
      margin-left: 19%;
      font-weight: bolder;
    }
  }
  
  .two {
    background-color: #EBEBEB;
    background-image: url(../../images/Project-Screenshot1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    p {
      text-align: center;
      font-weight: bolder;
    }
  }
  
  .three {
    background-image: url('../../images/Project-photo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .spacer1 {
    height: 4vh;
    background-color: $mid2;
  }

  .spacer2 {
    height: 4vh;
    background-color: $mid2;
  }
}

.navigation {
  display: flex;
  height: 5vh;
  background-color: $dark1;
}

.active-sign-in {
  position: absolute;
  z-index: 1;
}

.inactive-sign-in {
  visibility: hidden;
}

.active-sign-up {
  z-index: 3;
}

.inactive-sign-up {
  visibility: hidden;
}

.three {
  background-size: 200%;
}

.user-nav {
  li {
    display: inline;
    z-index: 15;
    
    a {
      color: $light2;
      font-size: 1.5vw;
      margin-top: -3vh;
    }
  }
  .prof {
    margin-right: 80vw;
  }
}

.sign-in-button {
  z-index: 100;
}



@media screen and (max-width: 3000px) {
  .one {
    min-height: 75vh;
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 2.75rem;
      width: 26%;
    }
  }
  .sign-in-button {
    background-color: $mid1;
    width: 12vw;
    margin-top:  68vh;
    margin-bottom: 147vh;
    margin-left: 66vw;
    font-size: 3.5rem;
  }
  .sign-up-button {
    position: relative;
    background-color: $mid1;
    width: 18vw;
    margin-left: 66vw;
    font-size: 3.5rem;
  }

  .two {
    min-height: 85vh;
    p {
      font-size: 3.5rem;
    }
  }

  .three {
    min-height: 85vh;
    h2 {
      width: 48%;
      margin-left: 52%;
      font-size: 4.75rem;
    }
  }
}

@media screen and (max-width: 2500px) {
  .three {
    h2 {
      font-size: 4.5rem
    }
  }
}


@media screen and (max-width: 1200px) {
  .one {
    min-height: 42vh;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
      width: 46%;
    }
  }
  .sign-in-button {
    background-color: $mid1;
    width: 17vw;
    margin-top:  35vh;
    margin-bottom: 100vh;
    margin-left: 66vw;
    font-size: 1.25rem;
  }
  .sign-up-button {
    position: relative;
    background-color: $mid1;
    width: 22vw;
    margin-left: 66vw;
    font-size: 1.25rem;
  }

  .two {
    min-height: 45vh;
    p {
      font-size: 1.5rem;
    }
  }

  .three {
    min-height: 50vh;
    h2 {
      width: 48%;
      margin-left: 52%;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .three {
    h2 {
      font-size: 1.75rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .one {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
      padding-bottom: 2vh;
      width: 38vw;
    }
  }
  .sign-in-button {
    background-color: $mid1;
    width: 17vw;
    margin-top:  35vh;
    margin-bottom: 100vh;
    margin-left: 66vw;
    font-size: 1.25rem;
  }
  .sign-up-button {
    position: relative;
    background-color: $mid1;
    width: 22vw;
    margin-left: 66vw;
    font-size: 1.25rem;
  }

  .two {
    min-height: 46vh;
    p {
      font-size: 1.25rem;
    }
  }

  .three {
    min-height: 50vh;
    h2 {
      width: 52%;
      margin-left: 48%;
      padding-top: 2%;
      font-size: 1rem;
    }
  }
}


















































