@import '../../sassStyles/variables';
@import '../../components/Forms/signInForm.scss';
@import '../../sassStyles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blur {
  position: fixed;
  height: 42vh;
  width: 100vw;
  background-color: rgba($light2, 0.5);
  z-index: 1;
  top: 5vh;
}

.container {
  overflow-y: scroll;
  height: 100vh;

  section {
    scroll-snap-align: start;
    color: $mid1;
  
  }
  
  .one {
    height: 42vh;
    background-image: url('../../images/Project-photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    z-index: 3;

    h1 {
      font-size: 4rem; 
      margin-left: 19vw;
      width: 12vw;
    }

    h2 {
      font-size: 2rem;
      margin-left: 23vw;
      width: 27vw;
    }

    .sign-up-button {
      position: absolute;
      width: 20vw;
      height: 5vw;
      background-color: $mid1;
      margin-left: 14vw;
      margin-top: 5vh;
    
      &:hover {
        border: 2px solid $light2;
      }
    }
  }
  
  .two {
    height: 74vh;
    background-color: $light1;
  }
  
  .three {
    height: 50vh;
    background-image: url('../../images/Project-phot7.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .spacer1 {
    height: 45px;
    background-color: $mid2;
    z-index: 3;
  }

  .spacer2 {
    height: 45px;
    background-color: $mid2;
  }
}

.navigation {
  display: flex;
  height: 5vh;
  background-color: $dark1;
}

.sign-in-form {
  position: absolute;
  
}

.active-sign-in {
  z-index: 3;
}

.inactive-sign-in {
  visibility: hidden;
}

.sign-up-form {
  position: absolute;
  
}

.active-sign-up {
  z-index: 3;
}

.inactive-sign-up {
  visibility: hidden;
}

.title-info {
  height: 42vh;
  position: relative;
  // background-color: rgba($dark1, 0.2);
}

.short-desc {
  font-size: 2vw;
  margin-left: 19vw;
  width: 38vw;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .one {

    h1 {
      margin-top: 2.5vh;
      margin-bottom: -2vh;;
    }

    h2 {
      margin-bottom: -2vh;
    }

    p {
      font-size: 3vw;
      margin-bottom: -2vh;
    }
  }

  .three {
    background-size: 200%;
  }
}

.user-nav {
  li {
    display: inline;
  }
  .prof {
    margin-right: 80vw;
  }
}