@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

body {
  background-color: $light2;
}

h1 {
  font-family: "Playfair Display SC";
}

h2 {
  font-family: 'Alegreya Sans SC';
}
a {
  color: $dark1;
}

.prof-page {
  display:flex;
  height: 100vh;
  background-image: url('../../images/Project-photo10.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prof-card {
  text-align: center;
}

.project-list {
  &:hover {
    background-color: rgba($mid1, 0.4);
    transition: 0.5s ease-in-out;
  }
}

.prof-page {
  display: flex;

  .prof-side-bar {
    position: fixed;
    width: 25%;
    height: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 2px 2px 25px;
    z-index: 3;
    font-family: 'Alegreya Sans SC';
    font-size: 2vw;
  }

  .prof-picture {
    height: 5%;
    background-color: $mid1;
    font-family: "Playfair Display SC";
    font-size: 1.5vw;
    text-align: center;
    color: $light2;
  }

  .prof-card {
    height: 44%;
    background-image: url('../../images/ProjectPhoto3.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project-container {
    overflow-y: scroll;
    height: 25vh;
    width: 35%;
    align-self: center;
    justify-self: center;
    margin-left: 35%;
    border-top: 2px solid rgba($dark1, 0.3);
    border-bottom: 2px solid rgba($dark1, 0.3);
    color: $dark1;

    a {
      color: $dark1;
    }
    }
  }

.clients {
  background-color: $mid1;
  color: $light1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 100%;
  z-index: 2;
  box-shadow: -2px -2px 25px rgba($dark1, 1.0);
  cursor: pointer;

  .list-title {
    text-align: center;
  }

  .client {
    margin-left: 5%;
  }
}

.header {
  height: 5%;
  width: 100%;
  background-color: $dark1;
  top: 0;
  position: absolute;
  margin-left: 0%;
}

 
.side-nav {
  height: 51vh;
  background-color: $mid1;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: $light1;
  cursor: pointer;
  margin-left: 3%;
  font-size: 2.3vw;
  font-family: 'Alegreya Sans SC';

  &:hover{
    border-bottom: 2px solid rgba($light1, 0.5);
    transition: 0.2s ease-in;
  }
}

.active-list {
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}


.inactive-list {
  transform: translateX(0%);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 992px) {
  .prof-page {
    display: flex;

    .prof-side-bar {
      position: fixed;
      width: 25%;
      height: 100%;
      bottom: 0;
      left: 0;
      box-shadow: 2px 2px 25px;
      z-index: 3;
    }

    .prof-picture {
      height: 5%;
      background-color: $mid1;
    }

    .prof-card {
      height: 44%;
      background-image: url('../../images/ProjectPhoto3.png');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .project-container {
      overflow-y: scroll;
      height: 25vh;
      width: 35%;
      align-self: center;
      justify-self: center;
      margin-left: 35%;
      border-top: 2px solid rgba($dark1, 0.3);
      border-bottom: 2px solid rgba($dark1, 0.3);

      h1 {
        font-family: "Playfair Display SC";
      }

      h2 {
        font-family: 'Alegreya Sans SC';
      }
      
      a {
        color: $dark1;
      }
      }
    }
  

  .clients {
    background-color: $mid1;
    color: $light1;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 100%;
    z-index: 2;
    box-shadow: -2px -2px 25px rgba($dark1, 1.0);
    cursor: pointer;

    h1 {
      font-family: "Playfair Display SC";
    }

    h2 {
      font-family: 'Alegreya Sans SC';
    }

    .list-title {
      text-align: center;
    }

    .client {
      margin-left: 5%;
    }

    // &:hover {
    //   background-color: rgba($mid1, 0.5);
    // }
    // Need to figure ot how to make this for individual clients instead of the entire library
  }


@media screen and (max-width: 768px) {
  .prof-page {
    display: flex;
    
    .prof-side-bar {
      position: fixed;
      width: 30%;
      height: 100%;
      bottom: 0;
      left: 0;
      box-shadow: 2px 2px 25px;
      z-index: 1;
  
      .prof-picture {
        height: 5%;
        background-color: $mid1;
        z-index: 7;
      }
  
      .prof-card {
        height: 44%;
        background-image: url('../../images/ProjectPhoto3.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    .project-container {
      overflow-y: scroll;
      height: 25vh;
      width: 35%;
      align-self: center;
      justify-self: center;
      // margin-top: 2px solid $dark1;
      // margin-left: 40%;
      // margin-top: 45%;
      border-top: 2px solid rgba($dark1, 0.5);
      border-bottom: 2px solid rgba($dark1, 0.5);
    }
    
  }
  
  .clients {
    background-color: $mid1;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    box-shadow: 2px 2px 25px;
  }

  .header {
    width: 100%;
    margin-left: 0;
  }

  
}

.active-list {
  background-color: black;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}


.inactive-list {
  transform: translateX(0%);
  transition: 0.5s ease-in-out;
}

.project-list {
  &:hover {
    background-color: rgba($mid1, 0.4);
    transition: 0.5s ease-in-out;
    }
  }
}






