@import '../sassStyles/variables';

.project-details {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/Project-photo8-Edit.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    margin-top: 2vh;
    font-size: 6vw;
  }
}

.project-card  {
  position: absolute;
  margin-left: 10vw;
  margin-top: 18vh;
  width: 32vw;
  height: 55vh;
  background-color: rgba($dark1, 0.3);

  h2 {
    text-align: center;
    font-size: 4vw;
  }

  h3 {
    margin-top: 3vh;
    font-size: 2.5vw;
  }

  h4 {
    text-align: center;
  }
}

.hours-info {
  position: absolute;
  background-color: rgba($mid1, 0.3);
  margin-left: 10vw;
  margin-top: 50vh;
}















