@import '../sassStyles/variables';

.project-details {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../images/Project-Photo9.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000%;
}

.project-card {
  width: 50vw;
  height: 55vw;

  h2 {
    width: 100vw;
    padding-bottom: 15vh;
    text-align: center;
    font-size: 5vw;
    font-family: 'Playfair Display SC';
    color: $mid1;
    text-decoration: underline rgba($dark1, 0.4);
  }

  h3 {
    margin-top: 3vh;
    margin-left: 5vw;
    font-size: 3.5vw;
    font-family: 'Alegreya Sans SC';
    color: $dark1;
    text-decoration: underline rgba($dark1, 0.4);
  }

  h4 {
    text-align: center;
    margin-left: 5vw;
  }
}

.hours-info {
  width: 50vw;
  margin-left: 10vw;
  margin-left: 5vw;

  h2 {
    font-size:2.5vw;
    font-family: 'Playfair Display SC';
    color: $mid1;
  }

  .add {
    color: black;
    margin-top: 1vh;
    font-weight: 700;
  } 

  form {
    position: absolute;
    margin-left: 0%;
    margin-top: 5%;
  }

  input {
    position: absolute;
    margin-top: -50%;
    margin-left: 13vw;
    width: 6vw;
  }

  .counter {
    color: black;
    width: 10vw;
    font-weight: 700;
  }
}

.status {
  width: 50vw;
  margin-left: 5vw;
  margin-top: 5vh;
  border-bottom: solid rgba($dark1, 0.4);
  
  button {
    color: black;
    margin-right: 2vw;
    font-weight: 700;
  }
}

.task-container {
  position: relative;
  width: 50vw;
  margin-left: 50vw;
}

