@import '../../sassStyles/variables';

.user-nav {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $mid2;
  li {
    list-style: none;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
  }
}