// Media Query Screen Sizes
$screen-xSmall: 360px;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// Colors
$dark1: #353535;

$mid1: #3C6E71;
$mid2: #284B63;

$light1: #D9D9D9;
$light2: #FFFFFF;
