@import '../../sassStyles/variables';

// .user-sign-up {
//   height: 100vh;
//   width: 100vw;
// }

.sign-up-form {
  border: 2px solid $dark1;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: 35vw;
  margin-right: 35vw;
  padding: 1em;
  text-align: left;
  width: 30vw;
  height: 60vh;
  background-color: $light2;

  h3 {
    text-align: center;
    font-size: 2rem;
  }

  .form {
    padding-left: 15%;
    padding-top: 10%;
  }
  
  label {
    font-size: 1.5rem;
    
  }
  
  input {
    width: 20vw;
    height:3vh;
    margin-bottom: 3vh;
  }
  
   button {
     width: 10vw;
     font-size: 1.25rem;
     cursor: pointer;
     margin-left: 4.2vw;

     
   }  
}