@import '../../sassStyles/variables';

.sign-in-form {
  border: 2px solid $dark1;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: 35vw;
  margin-right: auto;
  padding: 1em;
  text-align: left;
  width: 30vw;
  height: 45vh;
  background-color: $light1;
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}
